.container {
  min-height: 70vh;
  width: 100%;
  background-color: rgb(157, 185, 185);
  align-content: canter;
  padding-block: 2rem;
}

.card {
  max-width: 30%;
  margin-inline: auto;
  background-color: aliceblue;
  padding: 1rem 2rem;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 3px #00000069;
  text-align: center;
/* 
  .page-heading {
    margin-bottom: 1.2rem;
    font-weight: 500;
    border-bottom: 2px solid var(--fourth-color);
  } */
}

.login-from {
  display: flex;
  flex-direction: column;
  gap: 5px;

  .input-group {
    display: flex;
    flex-direction: column;
    text-align: left;

    label {
      font-weight: 500;
      user-select: none;
    }
    .input-field__wrapper {
      background-color: rgb(226, 226, 226);
      padding: 0.5rem 0.8rem;
      margin-block: 5px;
      border-radius: 5px;
      position: relative;
      overflow: hidden;

      input {
        width: 100%;
        border: none;
        outline: none;
        background: none;
        font-family: inherit;
        font-size: 1rem;
      }

      .showHide__icon {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        display: flex;
        padding: 10px;
        background-color: burlywood;
        justify-content: center;
        align-content: center;
        align-items: center;
        cursor: pointer;
      }

      &:is(:focus-within) {
        outline: 1px solid var(--fourth-color);
      }
    }

    button {
      background-color: var(--fourth-color);
      padding-block: 0.5rem;
      border-radius: 5px;
      text-transform: uppercase;
      font-weight: 500;
      user-select: none;
      margin-top: 0.5rem;
      cursor: pointer;
      outline: none;

      &:hover {
        animation: elasticity 400ms ease-in-out;
      }
    }
  }
  .links {
    padding-block: 8px;
    display: flex;
    justify-content: space-between;
  }
  .forgot-password {
    text-align: right;
    font-weight: 400;
    color: var(--fourth-color) !important;
    color: rgba(47, 130, 255, 0);
    &:hover {
      text-decoration: underline;
    }
  }
}

